<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

video {
  width: 100%;
  height: auto;
}

.image{
  object-fit: contain;
   max-width: 100%;
   max-height: 100%;
   width: auto;
   height: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*transparent*/
.
/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
}


/*header*/
.gratis{
  color: #fc6603;
  font-size: 30px;
  font-weight:bold;
  text-align: left;
}

.keterangan{
  color: #fc6603;
  font-size: 15px;
  text-align: left;
}

.barcode {
  height: 100px;
  text-align: center;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.border{
  border: 2px solid orange;
  border-radius: 9px;
  padding: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

/*video js*/
p.small {
  line-height: 0.1;
  margin-top: -15px;
  width:100%;
}
p.big {
  line-height: 1.8;
}

.header {
  padding: 0px 0px;
  background: #555;
  color: #f1f1f1;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
}

.sticky  {
  padding-top: 1px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>
</head>
<body>

<h2>Toggle Switch</h2>

<label class="switch">
  <input type="checkbox">
  <span class="slider"></span>
</label>

<label class="switch">
  <input type="checkbox" checked>
  <span class="slider"></span>
</label><br><br>

<label class="switch">
  <input type="checkbox">
  <span class="slider round"></span>
</label>

<label class="switch">
  <input type="checkbox" checked>
  <span class="slider round"></span>
</label>

</body>
</html> 
